extends ../layout

block head
	title #{accion} Docente
	
block content
	if mensaje
		div.alert.alert-success.alert-dismissible(role="alert")
			button.close(type="button", data-dismiss="alert", aria-label="Cerrar")
				span(aria-hidden="true") &times
			strong= mensaje
			
	div.col-md-6
		form(method="post")
			div.form-group
				label DNI
				input.form-control(name="dni", value="#{(docente) ? docente.dni : ''}", type="text", autofocus, required)
			div.form-group
				label Nombre
				input.form-control(name="nombre", value="#{(docente) ? docente.nombre : ''}", type="text", required)
			div.form-group
				label Archivo
				input.form-control(name="archivo", value="#{(docente) ? docente.archivo : ''}", type="text", required)
			
			a.btn.btn-warning(href="/admin") Volver
			input.btn.btn-success(type="submit", value="Guardar")