extends ../layout

block head
	title Administrar descargas de APS

block content
	if mensaje
		div.alert.alert-success.alert-dismissible(role="alert")
			button.close(type="button", data-dismiss="alert", aria-label="Close")
				span(aria-hidden="true") &times
			strong= mensaje
	
	div.col-md-12
		// div.form-group
		// 	label Buscar:
		// 	input.form-control(type="text")
		a.btn.btn-primary.pull-right(href="admin/nuevo-docente") Nuevo docente
	
		table.table.table-condensed.table-hover.table-striped
			thead
				tr
					th DNI
					th Nombre
					th Archivo
					th Descargado
					th
			tbody
				each docente in docentes
					tr
						td
							a(href="/admin/editar-docente/#{docente._id}")= docente.dni
						td= docente.nombre
						td
							a(href="#{docente.archivo}", target="_blank")= docente.archivo
						td= (docente.descargado) ? moment(docente.descargado).format('DD/MM/YYYY HH:mm') : 'No'
						th
							a.btn.btn-danger.btn-xs(href="/admin/eliminar-docente/#{docente._id}") X